.cooki {
    background-color: $cooki-bg;
    padding: 22px 0;

    @include breakpoint($mobile-bp) {
        padding: 15px 0;
    }

    &__holder {
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint($mobile-bp) {
            flex-direction: column;
        }
    }

    &__text {
        display: block;
        font-size: 14px;
        color: $text-white;
        padding: 0 50px 0 0;
        max-width: 400px;
        text-align: center;

        @include breakpoint($mobile-bp) {
            padding: 0 0 10px 0;
        }
    }
}