.intro {
    padding: 95px 0 25px;
    background: linear-gradient(39deg, rgba(54,149,255,1) 0%,rgba(53,100,252,1) 100%);
    min-height: 100vh;

    @include breakpoint($mobile-bp) {
        padding: 120px 0 15px;
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__circle {
        width: 185px;
        height: 185px;
        background-color: rgb(255, 255, 255, .06);
        border-radius: 50%;
        margin: 0 0 50px;
        position: relative;
        transition: background-color .2s linear;

        &:hover {
            background-color: rgb(255, 255, 255, .15);
        }

        @include breakpoint($mobile-bp) {
            width: 120px;
            height: 120px;
            margin: 0 0 20px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255, .07);
        }

        &:after {
            content: '';
            position: absolute;
            top: 18px;
            bottom: 18px;
            left: 18px;
            right: 18px;
            border-radius: 50%;
            background-color: #fff;
            z-index: 0;
        }
    }

    &__titleholder {
        max-width: 850px;
        text-align: center;
        margin: 0 0 75px;

        @include breakpoint($mobile-bp) {
            margin: 0 0 35px;
        }
    }

    &__title {
        font-size: 50px;
        font-weight: 900;
        color: $text-white;
        line-height: 60px;
        letter-spacing: .025em;
        margin: 0 0 40px;
        text-transform: uppercase;

        @include breakpoint($mobile-bp) {
            font-size: 30px;
            line-height: 40px;
            margin: 0 0 20px;
        }
    }

    &__subtitle {
        color: $text-white;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 35px;
        letter-spacing: .025em;

        @include breakpoint($mobile-bp) {
            font-size: 13px;
            line-height: 22px;
        }
    }

    &__arrow {
        color: rgba(255, 255, 255, 0.4);
        font-size: 32px;
        transition: color .2s linear;


        @include breakpoint($mobile-bp) {
            font-size: 22px;
        }

        &:hover {
            color: #fff;
        }
    }

    &.active {
        .intro__form {
            visibility: visible;
            z-index: 1;
        }
        
    }

    &__form {
        visibility: hidden;
        width: 100%;
        max-width: 810px;
        background-color: $white;
        border-radius: 10px;
        padding: 65px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateX(50%) translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint($mobile-bp) {
            padding: 25px;
        }
    }
    &__form-title {
        text-align: center;
        font-family: sans-serif;
        font-size: 50px;
        font-weight: 400;
        padding-bottom: 40px;
        color: $header-hover;

        @include breakpoint($mobile-bp) {
            font-size: 30px;
            padding-bottom: 20px;
        }
    }
    &__input {
        max-width: 70%;
        width: 100%;
        border: 1px solid $header-ligth-grey;
        border-radius: 10px;
        margin: 0 auto 20px;
        padding: 10px;

        @include breakpoint($mobile-bp) {
            max-width: 70%;
            width: 100%;
        }
    }
    textarea {
        margin-bottom: 45px;
    }
    &__form-btn {
        max-width: 205px;
        padding: 15px 20px;
        border-radius: 25px;
        color: $white;
        background-color: $header-hover;
        margin: 0 auto;
    }
    &__form-btn-close {
        position: absolute;
        background: none;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            border-bottom: 3px solid $header-hover;
            width: 100%;
        }
        &::before {
            top: 50%;
            right: 0;
            transform: rotate(45deg);
        }
        &::after {
            bottom: calc(50% - 3px);
            right: 0;
            transform: rotate(135deg);
        }
    }
}
