.works {
    padding: 90px 0 100px;

    @include breakpoint($mobile-bp) {
        padding: 50px 0 50px;
    }

    .container {
        width: 100%;
        max-width: 1170px;
        padding: 0 15px;
        margin: 0 auto;
    }
    &__title {
        font-family: 'lato';
        font-weight: 300;
        font-size: 34px;
        line-height: 36px;
        color: $text-blue;
        text-align: center;
        margin-bottom: 86px;
        @include breakpoint($mobile-bp) {
            margin-bottom: 40px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        margin-bottom: 50px;
        width: 31%;
        @include breakpoint($mobile-bp) {
            width: 48%;
        }
    }
}