.clients {
    padding: 90px 0 100px;
    text-align: center;
    background-color: #f1f8ff;

    &__title {
        font-size: 50px;
        font-weight: 300;
        margin: 0 0 75px;
        color: $blue-title;

        @include breakpoint($tablet-bp) {
            font-size: 40px;
        }

        @include breakpoint($mobile-bp) {
            font-size: 30px;
            margin: 0 0 50px;
        }

    }

    &__holder {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 280px;
        width: 25%;
        padding: 0 50px;
        filter: brightness(0);
        opacity: .3;
        transition: all .5s linear;

        &:hover {
            filter: brightness(1);
            opacity: 1;
        }
        
        @include breakpoint($tablet-bp) {
            padding: 0 20px;
        }

        @include breakpoint($mobile-bp) {
            width: 50%;
            padding: 0 15px 60px;

            &:nth-child(1n + 3) {
                padding: 0 15px;
            }
        }
    }

}