@font-face {
<<<<<<< HEAD
    font-family: 'lato';
=======
    font-family: 'lato black';
>>>>>>> 9b7193e18a479031b69263a81556c71adad7acc9
    src: url('../fonts/lato/lato-black-webfont.eot');
    src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato/lato-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}
@font-face {
<<<<<<< HEAD
    font-family: 'lato';
=======
    font-family: 'lato bold';
>>>>>>> 9b7193e18a479031b69263a81556c71adad7acc9
    src: url('../fonts/lato/lato-bold-webfont.eot');
    src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
<<<<<<< HEAD
    font-family: 'lato';
=======
    font-family: 'lato light';
>>>>>>> 9b7193e18a479031b69263a81556c71adad7acc9
    src: url('../fonts/lato/lato-light-webfont.eot');
    src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato/lato-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
<<<<<<< HEAD
    font-family: 'lato';
=======
    font-family: 'lato regular';
>>>>>>> 9b7193e18a479031b69263a81556c71adad7acc9
    src: url('../fonts/lato/lato-regular-webfont.eot');
    src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato/lato-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}