
// media
$tablet-bp: 990px;
$mobile-bp: 769px;

// colors
$text-white: #fff;
$text-blue: #3677fd;
$cooki-bg: #194277;
$header-ligth-grey: #D1D9E4;
$white: #fff;
$header-dark-fon: #171717;
$header-hover: #004ed4;
$burger-color: #484A4C;

$lato: 'lato';

//bg-expert
$blue-bg: #f1f8ff;
$blue-title: #3677fd;
$grey-border: #ccd5dd;
$grey-text: #808283;

$lato-light: 'lato light';
$lato-reg:'lato regular';
$lato-bold: 'lato bold';
