// media
$tablet-bp: 990px;
$mobile-bp: 769px;

// colors
$text-white: #fff;
$text-blue: #3677fd;
$cooki-bg: #194277;

//bg-expert
$blue-bg: #f1f8ff;
$blue-title: #3677fd;
$grey-border: #ccd5dd;
$grey-text: #808283;

$lato-light: 'lato light';
$lato-reg:'lato regular';
$lato-bold: 'lato bold';