@import 'vars';
@import 'fonts/lato';
@import 'fonts/icon-intro';
@import 'mixins';
@import 'fonts';
@import 'blocks/header';
@import 'blocks/footer';
@import 'pages/expert';

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    display: block;
}
a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

p {
    margin: 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background-color: #fff;
    outline: none;
    border: none;
    color: $text-blue;
    border-radius: 27px;
    padding: 20px 70px 22px;
    transition: all .2s linear;
    font-size: 16px;

    &:hover {
        background-color: #d4d8e4;
    }

    &_cooki {
        padding: 9px 35px;
        font-size: 12px;
        color: #194277;
    }

    &_intro {
        text-transform: uppercase;
        margin: 0 0 90px;
    }
}
